{% extends 'index.html' %} {% block body %} {% include 'partials/navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mt-5">
        <div class="card-header card-header-custom" style="text-align: right">
          {{ fromL_disp }} &nbsp; &nbsp;
          <span>
            <a href="{% url "main" %}?fromL={{ toL }}&toL={{ fromL }}">
              <i class="bi bi-arrow-left-right" id="arrowIcon"></i>
            </a>
          </span>
        </div>
        <div class="card-body">
          <div
            style="height: 60vh"
          >
            <textarea
              class="input-custom"
              placeholder="Start typing here..."
                name="sourceText"
                form="sourceTextForm"
            >{{sourceText}}</textarea>
        </div>
        </div>
      </div>
      <form
            action="{% url 'main' %}"
            method="post"
            id="sourceTextForm"
          >
            {% csrf_token %}
        <input type="hidden" name="fromL" value="{{fromL}}" />
        <input type="hidden" name="toL" value="{{toL}}" />
        <input
            type="submit"
            value="Translate"
            class="btn btn-primary btn-custom-1 my-2"
            style="width: 100%"
        />
    </form>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mt-5">
        <div class="card-header card-header-custom">
            <div style="display: flex; justify-content: space-between;">
                <div class="mt-1">{{ toL_disp }}</div>
                {% if toL != "EN" %}
                    <span style="text-align: right;"><div class="btn-group btn-group-sm" role="group">
                        {% if toL == 'FID' %}
                        <a type="button" href="{% url "main" %}?fromL={{ fromL }}&toL=FID" class="btn btn-primary btn-custom-2">Formal</a>
                        <a type="button" href="{% url "main" %}?fromL={{ fromL }}&toL=CID" class="btn btn-secondary btn-custom-3">Colloquial</a>
                        {% else %}
                        <a type="button" href="{% url "main" %}?fromL={{ fromL }}&toL=FID" class="btn btn-primary btn-custom-3">Formal</a>
                        <a type="button" href="{% url "main" %}?fromL={{ fromL }}&toL=CID" class="btn btn-secondary btn-custom-2">Colloquial</a>
                        {% endif %}
                    </div></span>
                {% endif %}
              </div>
        </div>
        <div class="card-body">
          <div style="height: 60vh">
            <textarea class="input-custom" readonly>{{ outText }}</textarea>
          </div>
        </div>
      </div>
      {% if outText|length != 0 %}
        <form
                action="{% url 'feedback' %}"
                method="post"
                style="height: 60vh"
                id="sourceTextForm"
            >
                {% csrf_token %}
            <input type="hidden" name="fromL" value="{{fromL}}" />
            <input type="hidden" name="toL" value="{{toL}}" />
            <input type="hidden" name="sourceText" value="{{sourceText}}" />
            <input type="hidden" name="outText" value="{{outText}}" />
            <input type="hidden" name="action" value="redirect" />
            <input
                type="submit"
                value="Wrong translation?"
                class="btn btn-primary btn-custom-2 my-2"
                style="width: 100%"
            />
        </form>
    {% endif %}
    </div>
  </div>
  <h3></h3>
</div>

{% endblock %}
